Academia/__pycache__/settings.cpython-310.pyc
Academia/__pycache__/urls.cpython-310.pyc
GestionAcademia/__pycache__/models.cpython-310.pyc
GestionAcademia/api/__pycache__/__init__.cpython-310.pyc
GestionAcademia/api/__pycache__/router.cpython-310.pyc
GestionAcademia/api/__pycache__/serializers.cpython-310.pyc
GestionAcademia/api/__pycache__/views.cpython-310.pyc
